.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--navbar-height);

    background-color: var(--background-navbar);

    .title {
        color: var(--text-white);
        padding: 0 20px 0 10px;
    }

    .topButton {
        background-color: var(--background-navbar);
        color: var(--text-white);
        border: 0;
        height: 24px;

        &:hover,
        &[aria-expanded='true'] {
            background-color: var(--background-navbar-button-hover);
            border-radius: 5px;
        }
    }
}

.dropdownItems {
    display: flex;
    flex-direction: column;
    background-color: var(--background-navbar);
    border-radius: 0 0 5px 5px;

    button {
        color: var(--text-white);
        text-decoration: none;
        padding: 4px 10px 4px 6px;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 5px;
        background: transparent;
        border: 0;

        &:hover {
            background-color: var(--background-navbar-button-hover);
            cursor: pointer;
        }
    }

    [data-headlessui-state='disabled'] {
        color: var(--text-disabled);

        &:hover {
            background: none;
            cursor: default;
        }
    }
}
