.windowContainer {
    padding: 0 0 25px 0 !important;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.item {
    display: grid;
    grid-template-columns: 30px minmax(0, 100px) auto 30px;
    align-items: center;
    height: 50px;
    padding: 10px;
    gap: 10px;

    span {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.dragElement {
    width: 20px;
    color: var(--icon);
    cursor: grab;
}

.dragZone {
    height: 100%;
    cursor: grab;
}

.active {
    background-color: var(--background-layer-active);
}

.dragging {
    border: 1px solid var(--window-border);
}

.eyeIconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--layers-visible-icon-border);
    color: var(--icon);
    width: 25px;
    height: 25px;
    padding: 0;
}

.hidden {
    opacity: 0.5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px 0 0 0;
    background: var(--background-navbar);
}

.icon {
    color: var(--icon);
    width: 18px;
    height: 18px;
}

.crossIcon {
    color: var(--icon);
    width: 10px;
    height: 10px;
}
