.container {
    width: 100%;
    height: calc(100vh - 24px);
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.canvas {
    
}
