.container {
    width: 100%;
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    // position: relative;
    overflow: auto;
}

.selectionCanvas {
    position: absolute;
    pointer-events: none;
}

.fillCursor {
    canvas {
        cursor: crosshair;
    }
}
