@mixin button {
    border: 0;
    background: transparent;
    color: var(--text-white);

    &:hover {
        background-color: var(--background-navbar-button-hover);
    }
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    border: 1px solid var(--window-border);

    .header {
        display: flex;
        justify-content: space-between;
        height: 20px;
        padding: 4px;
        background-color: var(--background-navbar);
        color: var(--text-white);
        cursor: pointer;

        button {
            @include button;
        }
    }

    .withoutButtonsHeader {
        height: 2px;
    }

    .body {
        padding: 10px;
        color: var(--text-white);
    }

    .footer {
        display: flex;
        justify-content: flex-end;        
        gap: 5px;
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        padding: 4px;
        background: var(--background-navbar);

        button {
            @include button;
        }
    }
}
