body {
    margin: 0;
    padding: 0;

    * {
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        user-select: none;
        box-sizing: border-box;

        scrollbar-color: rgb(80, 80, 80) transparent;
        scrollbar-width: thin;
    }

    button {
        border: 0;
        background: none;
        padding: 0 6px;
        cursor: pointer;
        color: var(--text-white);
    }

    input {
        background-color: var(--background-input);
        border: 1px solid var(--window-border);
        color: var(--text-white);
        padding: 3px 3px 3px 7px;

        &:focus, &:focus-visible, &:focus-within {
            outline: none;
        }
    }
}

#root {
    display: flex;
    flex-grow: 1;
}

:root {
    --background: #2d2d2d;
    --background-navbar: #373737;
    --background-navbar-button-hover: #4d4d4d;
    --background-topbar: #424242;
    --background-layer-active: #3b3b3b;
    --background-input: #4d4d4d;
    --background-button-outline: #363636;

    --border-button-outline: rgb(98, 98, 98);
    --window-border: #414141;

    --text-white: #f5f5f5;
    --text-gray: #acacac;
    --text-disabled: #a9a9a9;

    --tool-icon-color: #ffffff;

    --drag-point: #d7d7d7;

    --layers-visible-icon-border: #737373;

    --navbar-height: 30px;
    --footer-height: 24px;

    --icon: #959595;

    --selection-color: #6d6d6d;
}
