body {
    margin: 0;
    padding: 0;
    
    * {
      font-size: 14px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
}

#root {
  display: flex;
  flex-grow: 1;
}

:root {
  --background: #2d2d2d;
  --background-navbar: #373737;
  --background-navbar-button-hover: #4d4d4d;

  --window-border: #414141;

  --text-white: #ffffff;
  --text-disabled: #a9a9a9;
}

